<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>How much for da horsea?</title>
    <!-- css mine -->
    <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/> 
    <!-- select2 lib css for nicer select fields -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <!-- select2 lib js -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <!-- js script mine -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>    
    
</head>
<body>
    <div class="input">
    <form action="{{ url_for('main') }}" method="POST">
        <fieldset class="inputbox">
            <legend align='center' class='box_name'>Car parameters</legend>
            
                {% for field in form%}
                    <span class='field field.id'>                    
                    {{ field }}
                    </span>
                {% endfor %}
        </fieldset>
        <br>
    </form>
    </div>


    <div class="result" align="center">
        {% if result %}            
             Predicted car price: 
             <br>
            <span style="font-size:35px">{{ result }}</span>
        {% endif %}
    </div>
</body>

</html>